<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Cucumber Suite" parallel="classes">
    <test name="Cucumber Test">
        <classes>
            <class name="com.cucumber.testng.runner.CucumberTestRunner"/>
        </classes>
    </test>
</suite>